body {
  font-family: "Press Start 2P", cursive;
  background-color: #9eabbd;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.startScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.startGame {
  width: 10%;
  height: 10%;
  top: 0;
  margin: 5%;
}

.message {
  text-align: center;
  font-size: 3vmin;
  color: white;
}

.mainPage {
  position: absolute;
  background-image: url("../../a:vAssets/background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  height: 100%;
  width: 100%;
}

.rain {
  position: absolute;
  background-image: url("../../a:vAssets/rain.gif");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}

.border {
  image-rendering: pixelated;
  border: 1vmin solid black;
  border-radius: 10px;
}
header {
  font-size: 1.2vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7%;
  margin: 2%;
  background: rgba(145, 145, 145, 0.441);
}

main {
  display: flex;
  align-items: center;
  height: 80%;
  margin: 2%;
}

.foundCardContainer {
  width: 33.33%;
  height: 100%;
  background-color: rgba(145, 145, 145, 0.441);
  margin-left: 1.5%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.foundCard {
  margin: 0.5%;
  position: relative;
  height: 18vmin;
  width: 25%;
}

.cardContainer {
  width: 66.66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: rgba(145, 145, 145, 0.441);
}
.card {
  position: relative;
  margin: 0.5%;
  height: 25%;
  width: 15%;
  cursor: pointer;
}

.card:hover {
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes floating {
  from {transform: translate3d(0, 0, 0);}
  to {transform: translate3d(-10px, -10px, 0);}
}

.hidden {
  visibility: hidden;
  cursor: default;
}

.back {
  position: absolute;
  background-image: url("../../a:vAssets/cardAssets/cardBack.png");
}

.card-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.front {
  position: absolute;
}

.hi-hats {
  background-image: url("../../a:vAssets/cardAssets/hi-hats.png");
}

.piano {
  background-image: url("../../a:vAssets/cardAssets/piano.png");
}

.bass {
  background-image: url("../../a:vAssets/cardAssets/bass.png");
}

.kick {
  background-image: url("../../a:vAssets/cardAssets/kick.png");
}

.snare {
  background-image: url("../../a:vAssets/cardAssets/snare.png");
}

.sample {
  background-image: url("../../a:vAssets/cardAssets/sample.png");
}

.clap {
  background-image: url("../../a:vAssets/cardAssets/clap.png");
}

.synth {
  background-image: url("../../a:vAssets/cardAssets/synth.png");
}

.noise {
  background-image: url("../../a:vAssets/cardAssets/noise.png");
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  position: absolute;
  background-color: rgba(145, 145, 145, 1);
  padding: 3vmin;
  width: 50%;
  height: 50vmin;
  text-align: center;
}

.shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

p {
  top: 10%;
  font-size: 5vmin;
}

.stats {
  font-size: 2vmin;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  float: left;
  height: 96%;
  background-color: crimson;
  color: white;
}

/* .pixel {
    background: #92CD41;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 3vmin;
    padding: 20px;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: white;
    box-shadow: inset (-4px) (-4px) 0px 0px #4AA52E;
    cursor: pointer;
}

.pixel:hover,
.pixel:focus {
    background: #76c442;
    box-shadow: inset (-4px*1.5) (-4px*1.5) 0px 0px #4AA52E;
}

.pixel:active {
    box-shadow: inset 4px 4px 0px 0px #4AA52E;
}

.pixel:before,
.pixel:after {
content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}

.pixel:before {
    top: -6px;
    left: 0;
    border-top: 6px black solid;
    border-bottom: 6px black solid;
}

.pixel:after {
    left: -6px;
    top: 0;
    border-left: 6px black solid;
    border-right: 6px black solid;
} */

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
main {
  height: 88%;
}

.foundCardContainer{
  display: none;
}

.cardContainer {
width: 100%;
}

.card {
  height: 15%;
  width: 30%;
}

}
